body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main{
    padding-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main div.presentacion{
    display: flex;
    justify-content: center;
    position: relative;
}
main div.presentacion div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main div.presentacion div picture.rickMorty{
    display: block;
    width: 100%;
    max-width: 500px;
}
main div.presentacion div picture img{
    width: 100%;
}
main div.presentacion div picture.logo{
    width: 100%;
    max-width: 550px;
    position: relative;
    bottom: 10px;
}
main nav{   
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    z-index: 3;
}
main div nav a{
    font-size: 4rem;
    text-align: center;
}
footer p{
    font-size: 1.3rem;
    text-wrap: balance;
}
@media (max-width: 1200px) {
    main div.presentacion div picture.rickMorty{
        max-width: 450px;
    }
    main div.presentacion div picture.logo{
        max-width: 400px;
    }
    main div nav a{
        font-size: 3rem;
    }
}
@media (max-width: 900px) {
    main div.presentacion div picture.rickMorty{
        max-width: 400px;
    }
    main div.presentacion div picture.logo{
        width: 320px;
    }
    main div.presentacion div picture.logo{
        
    }
    main div.presentacion nav{
        gap: 32px;
    }
    main div.presentacion nav a{
        font-size: 2.5rem;
    }
}

@media (max-width: 600px) {
    main div.presentacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 0;
    }
    main div.presentacion div picture.rickMorty{
        width: 80%;
        max-width: 200px;
        order: 1;
    }
    main div.presentacion div picture.logo{
        width: 90%;
        max-width: 300px;
        order: 2;
    }
    main div.presentacion nav{
        order: 3;
        gap: 12px;
    }
    main div.presentacion nav a{
        justify-content: center;
        width: 100% ;
        max-width: 280px;
        margin: 0 auto;
        font-size: 1.5rem;
        background-color: var(--white--10);
    }
    footer p{
        font-size: .8rem;
    }
}