main{
    padding: 0 32px;
}
main form{
    background-color: var(--brown--100);
    width: 100%;
    max-width: 1300px;
    padding: 12px 42px;
    margin: 24px auto 0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    gap: 12px;
}
main form *{
    color: var(--dark--100);
    font-weight: 500;
    font-size: 1.05rem;
}
main form div{
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}
main form div label{
    font-size: 1.5rem;
    font-weight: 800;
}
main form div input,
main form div select{
    width: 100%;
    border-radius: 4px;
    padding: 2px 12px;
    cursor: pointer;
}
main form div input[type='text']{
    border: 0.5px solid black;
}
main form div input[type='submit']{
    font-weight: 800;
}

@media (max-width: 900px) {
    main form{
        max-width: 600px;
    }
    main form div{
        max-width: 250px;
    }
}
@media (max-width: 700px) {
    main form{
        padding: 12px;
    }
    main form div{
        width: 200px;
    }
}
@media (max-width: 600px) {
    main form{
        width: 80%;
        margin: 12px auto;
    }
    main form div{
        width: 90%;
    }
}